html,body{
    background: #000;
    overflow: hidden;
    text-align: center;
}
.first{
    margin: 155px auto;
}
span{
    /* margin-top: 150px; */
    width: 10px;
    height: 10px;
    background: steelblue;
    border-radius: 50%;
    display: block;
    margin-left: 30px;
    box-shadow: 30px 30px 20px 2px steelblue;
    animation: rotate 10s linear infinite;
}
@keyframes rotate{
    from{
        transform: rotateZ(360deg);
    }
    to{
        transform: rotateZ(8deg);
    }
}